/* page chung */
.navbar{
    background-color: black;
}
.navbar{
    display: block;
    max-width: 100%;
    height: auto;
}
footer h2{
    padding: 30px 0px;
}
#Navbar a{
    display: block;
    padding: 18px 20px;
    font-size: 30px;
}
/* end */

/* HomePage */
.product h2 {   
    display:inline-block ;
    padding: 30px 0px;
}
.product ul{
    list-style: none;
}
.product li{
    box-sizing: border-box;
    margin-bottom: 30px;
}
.product{
    position: relative;
}
.product-item{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.product-list .row{
    padding-left: 0;
}
/* end */

/* ProductPage */
.menu{
    list-style: none;
}
.left-menu li{
    box-sizing: border-box;
    list-style: none;
    margin-bottom: 30px;
}
.left-menu a{
    text-decoration: none;
    display: block;
   
}
.menu h2{
    
    padding: 30px 0px;
}
/* end */
