.navbar{
    background-color: #4a5459;
}
.product{
    margin-top: 5%;
}
.product h2 {
    text-align: center;
    display:inline-block ;
    margin-bottom: 5%;
}
.product ul{
    list-style: none;
}
.product li{
    box-sizing: border-box;
    margin-bottom: 3%;
}